<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css", "css/about_me.css" %>
  <title>About me | Levy</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <div class='wrapper'>
  <div id="circle-shape-text">
    <img class="curve" src="/images/avatar.png">
    <p>
    Currently acting as a <b>Research Student</b> at <b><a href="http://www.osaka-u.ac.jp/en">Osaka University</a></b>, Japan. Majored in <b>Mechatronics Engineering</b> at the <b><a href="http://www.unb.br">University of Brasilia</a></b> (2015). Went through a three-month internship experience at the <b>Center for Neural Engineering</b> at the <b><a href="http://www.utah.edu/">University of Utah</a></b> (2015). Studied Biomedical Engineering during a one-year exchange at <b><a href="https://www.jhu.edu/">Johns Hopkins University</a></b> (2013). Worked as an intern at <b><a href="http://www.i-biomed.com/">Infinite Biomedical Technologies</a></b> (2013) and as a student researcher at <b><a href="https://lara.unb.br/">Laboratório de Automação e Robótica</a></b> (2016). Co-founded and acted as Chair at <b><a href="http://sites.ieee.org/sb-unb/capitulos/embs/">EMBS Student Chapter (Senses)</a></b> at the University of Brasilia (2015).
    <br>
    <br>
    Loves Biomedical Engineering since early ages and <b>dreams about contributing to groundbreaking projects</b> that should significantly improve people’s lives. Interested in studying neural signals in cortex (ECoG) or in the Peripheral Nervous System (PNS), especially <b>decoding</b>, <b>enconding</b>, <b>estimation</b> and <b>control</b>.
    </p>
  </div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>