<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css", "css/game_of_life.css" %>
  <title>Game of Life! | levy's sandbox</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <script src="/assets/javascripts/game_of_life.js"></script>
  <div class='wrapper'>
    <header class="post-header">
      <center><h1 class="post-title">GAME OF LIFE</h1></center>
    </header>
    <div id="div_intro" class="intro-class">
      A simple demo of Conway's Game of Life.
    </div>
    <div class="post-content">
      <br>
      <div id="div_game" class="game-class">
      </div>
      <br>
      <div class="settings_div">
          <div id="pattern_buttons_div" class="pattern-buttons-div">
              <div id="simple_buttons_div" class="buttons-div">
                  <button id="simple_patterns_button" onmouseenter="showSimplePatterns()" class="nice-buttons">Simple patterns</button>

                  <div id="simple_patterns_div" onmouseleave="hideSimplePatterns()" class="buttons-hidden-view">
                      <button class="hidden-nice-buttons" onclick="stillLifeState()">Still Life</button>
                      <button class="hidden-nice-buttons" onclick="oscillatorState()">Oscillators</button>
                      <button class="hidden-nice-buttons" onclick="spaceshipsState()">Spaceships</button>
                  </div>
              </div>
              <br>
              <div id="methuselahs_buttons_div" class="buttons-div">
                  <button id="methuselahs_patterns_button" onmouseenter="showMethuselahsPatterns()" class="nice-buttons">Methuselahs patterns</button>
                  
                  <div id="methuselahs_patterns_div" onmouseleave="hideMethuselahsPatterns()" class="buttons-hidden-view">
                      <button class="hidden-nice-buttons" onclick="rPentominoState()">The R-pentomino</button>
                      <button class="hidden-nice-buttons" onclick="diehardState()">Diehard</button>
                      <button class="hidden-nice-buttons" onclick="acornState()">Acorn</button>
                  </div>
              </div>
              <br>
              <div id="other_buttons_div" class="buttons-div">
                  <button id="other_patterns_button" onmouseenter="showOtherPatterns()" class="nice-buttons">Other patterns</button>
                  
                  <div id="other_patterns_div" onmouseleave="hideOtherPatterns()" class="buttons-hidden-view">
                      <button class="hidden-nice-buttons" onclick="gosperGliderGunState()">Gosper Glider Gun</button>
                      <button class="hidden-nice-buttons" onclick="minimalInfinite()">Minimal Cells Infinite*</button>
                      <br>
                      <button class="hidden-nice-buttons" onclick="smallestInfinite()">Smallest Area Infinite*</button>
                      <button class="hidden-nice-buttons" onclick="oneRowInfinite()">One Row Infinite*</button>
                  </div>
              </div>
          </div>

          <div id="action_buttons_div" class="action-buttons-div">
              <button class="nice-buttons" id="start_button" onclick="startGame()">START</button>
              <button class="nice-buttons" id="stop_button" onclick="stopGame()">STOP</button>
              <button class="nice-buttons" id="step_button" onclick="stepGame()">STEP</button>
              <br>
              <br>
              <button class="nice-buttons" onclick="randomState()">RANDOM</button>
              <button class="nice-buttons" onclick="clearState()">CLEAR</button>
              <button class="nice-buttons" id="style_button" onclick="changeGridStyle()">CSS</button>
              <br>
              <br>
              <br>
              fast <input type="range" id="sim_period_slider" value="100" max="1000" min="50" onchange="restartGame()"> slow
          </div>
      </div>
      <br>
      <div id="credits_div" class="credits-class">
          * Does not continue infinitely due to grid size limitation.
          <br>
          (Grid based on <a href="http://stackoverflow.com/questions/9140101/creating-a-clickable-grid-in-a-web-browser">this StackOverflow thread</a>.)
          <br>
          (Rules are from <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">the Wikipedia article</a>.)
      </div>
    </div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>