<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css", "css/jlpt_vocabulary.css" %>
  <title>JLPT Vocabulary | Levy's Playground</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <script src="/assets/javascripts/jlpt_vocabulary.js"></script>
  <script src="/assets/javascripts/wanakana.min.js"></script>
  <div class='wrapper'>
    <header class="post-header">
      <center><h1 class="post-title">JLPT</h1></center>
    </header>
    <div>
      <center><h1>Vocabulary</h2></center>
    </div>
    <div id='quiz_div'>
      <ui id='jlpt_buttons'>
      <li><button id='n1_button' class='nice-buttons' onclick='setLevel(1)'>N1</button></li>
      <li><button id='n2_button' class='nice-buttons' onclick='setLevel(2)'>N2</button></li>
      <li><button id='n3_button' class='nice-buttons' onclick='setLevel(3)'>N3</button></li>
      <li><button id='n4_button' class='nice-buttons' onclick='setLevel(4)'>N4</button></li>
      <li><button id='n5_button' class='nice-buttons' disabled onclick='setLevel(5)'>N5</button></li>
      </ui>
      <br>
      <div id='question_num'>Question 01</div>
      <div id='question_div'></div>
      <textarea id='text_answer' autofocus class='answer_input'></textarea>
      <br>
      <ui id='direction_buttons'>
        <li><button id='previous_button' class='direction-buttons' disabled onclick="setQuestion(-1)">PREVIOUS</button></li>
        <li><button id='next_button' class='direction-buttons' onclick="setQuestion(1)">NEXT</button></li>
      </ui>
      <div id='submit_div'>
        <input id='submit_answer' class='answer_submit' type="submit" value="SUBMIT" onclick="submitAnswer()">
      </div>
    </div>
    <div id='score_div'></div>
    <div id='mistakes_div'></div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>