<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css" %>
  <title>JLPT! | Levy</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <script src="/assets/javascripts/jlpt_vocabulary.js"></script>
  <div class='wrapper'>
    <header class="post-header">
      <center><h1 class="post-title">JLPT</h1></center>
    </header>
    <div>
      <center><h2>Vocabulary</h2></center>
    </div>
    <button id='n1_button' onclick="setLevel(1)">N1</button>
    <button id='n2_button' onclick="setLevel(2)">N2</button>
    <button id='n3_button' onclick="setLevel(3)">N3</button>
    <button id='n4_button' onclick="setLevel(4)">N4</button>
    <button id='n5_button' disabled onclick="setLevel(5)">N5</button>
    <div id='question_num'>1</div>
    <div id='question_div'></div>
    <input id='text_answer' class='answer_input' type="text">
    <br>
    <button id='previous_button' disabled onclick="setQuestion(-1)">PREVIOUS</button>
    <button id='next_button' onclick="setQuestion(1)">NEXT</button>
    <br>
    <input id='submit_answer' class='answer_submit' type="submit" value="submit" onclick="submitAnswer()">
    <div id='score_div'></div>
    <div id='mistakes_div'></div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>