<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css" %>
  <title>About me | levy's sandbox</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <div class='wrapper'>
      <header class="post-header">
        <h1 class="post-title">projects</h1>
      </header>
      <div class="post-content">
        <p>Listed below are some works I helped writing during the past years.
        If you wish to learn more about any of them, please <a href="mailto:lucasdelevy@neuron.eei.eng.osaka-u.ac.jp" title="please let me know! :-)"><b>let me know</b></a>.</p>

        <p><br></p>
        <hr>

        <h1>Encoding and Decoding of Neural Signals for Peripheral Interfaces</h1>
        <p><b>What</b>: Undergraduate Thesis<br>
        <b>Where</b>: University of Brasilia<br>
        <b>Date</b>: December, 2015<br>
        <b>Authors</b>: Lucas de Levy Oliveira<br>
        <b>Download</b>: <b><a href="/resources/trabalho_final_lucas_de_levy.pdf">PDF</a></b><br>
        <br></p>
        <p align="justify">
        This work consists on the development of two experimental setups for the implementation of control algorithms in animals. The first one, developed at the Automation and Control Laboratory at the University of Brasilia, consists on the electrical stimulation of antennal nerves of cockroaches (<i>Blaberus giganteus</i>) for direction control based on a retilinear reference. The position of the cockroach was measured by a motion capture system, which communicated with a personal computer (PC) running the control algorithm. The PC communicated with the stimulation board fixed to the cockroach back through Bluetooth 4.0 protocol. The control algorithm implemented was a simple line-follower which steer the cockroach by stimulating the antenna contrary to the desired direction with an amplitude proportional to the error between measured and reference positions. The second experimental setup took place at the Center for Neural Engineering at the University of Utah, where experiments using grass frogs and Sprague-Dawley rats were conducted. For both species, a hook electrode was used for whole-nerve stimulation of the sciatic nerve and wire electrodes were inserted into gastrocnemius muscles in order to record evoked electromyography (eEMG) singals. A proportional integral control algorithm was implemented in order to control muscle activation based on maximum absolute value (MAV) of the eEMG measured and recruitment curves found beforehand. Several aspects were discussed for both experimental setups regarding efficiency of the controllers and problems found in development and implementation. Finally, it is concluded that, even though there are several aspects to be explored in relation to improvements in both projects, the results found were satisfactory for initial trials.
        </p>
        <p><br></p>
        <hr>

        <h1>Experiments on Lower Limb FES Control for Cycling</h1>
        <p><b>What</b>: Conference paper<br>
        <b>Where</b>: Simpósio Brasileiro de Automação Inteligente 2015<br>
        <b>Date</b>: October, 2015<br>
        <b>Authors</b>: Antônio Bó, Lucas Fonseca, Stephany Rodrigues, Ana de Sousa, Lucas de Levy Oliveira and George Brindeiro<br>
        <br></p>
        <p align="justify">
        Cycling aided by Functional Electrical Stimulation (FES) for individuals with neurological disorders, such as Spinal Cord Injury (SCI), has been shown to provide different clinical benefits. The technology is based on the coordinated stimulation of lower limbs muscles to produce cyclic leg movements. Although there are systems available today mostly in clinical settings, studies indicate that the performance of such systems with respect to efficiency, FES-induced muscle fatigue and other aspects are still limited. Based on these premises, in this work we present an innovative FES-aided tricycle for SCI subjects, as well as novel control algorithms that enable cycling cadence tracking and compensation of variable muscle response. Preliminary results on two neurologically intact subjects are presented. Analysis of the data has shown that the system is able to provide satisfactory performance, but additional techniques must be evaluated in order to further reduce the effect of muscle fatigue.
        </p>
        <p><br></p>
        <hr>

        <h1>Studies on the use of Functional Electrical Stimulation on the lower limb for cycling</h1>
        <p><b>What</b>: Conference paper<br>
        <b>Where</b>: XXIV Brazilian Conference on Biomedical Engineering<br>
        <b>Date</b>: August, 2014<br>
        <b>Authors</b>: Lucas Fonseca, Lucas de Levy Oliveira, Mileny Oliveira, Miguel Eduardo Paredes, Clarissa Santos-Couto-Paz Paulo Eugênio, João Durigan and Antônio Bó<br>
        <br></p>
        <p align="justify">
        This paper describes a study of Functional Electrical Stimulation applied to cycling. The proposed platform makes use of constant stimulation parameters, up to three pairs of electrodes, Hasomed RehaStim electrical stimulator and variables such as: system user (none with motor disabilities), electrodes positioning, stimulation pattern and user’s position related to the bicycle. Best results were achieved when certain parameters were set, according to generated torque and pedaling smoothness; e.g. the most physically fit subject achieved more satisfying results with lower current intensities and the user’s vertical stance contributed to a more movement favorable pedaling. Moreover, muscle fatigue felt by the subjects was analyzed.
        </p>
        <p><br></p>
        <hr>

        <h1>An above-knee prosthesis with magnetorheological variable-damping</h1>
        <p><b>What</b>: Conference paper<br>
        <b>Where</b>: 5th IEEE RAS/EMBS International Conference on Biomedical Robotics and Biomechatronics<br>
        <b>Date</b>: August, 2014<br>
        <b>Authors</b>: Claudia Ochoa, Thiago Rocha, Lucas de Levy Oliveira, Miguel Eduardo Paredes, Rafael Lima, Antônio Bó and Geovany Borges<br>
        <br></p>
        <p align="justify">
        This work presents the design of a variable-damping prosthesis for above-knee amputees. The proposed low cost system is self-contained and based on a four-bar polycentric mechanism, in which a magnetorheological linear damper is integrated to enable variable-damping control. The paper also describes a control strategy based on a Finite State Machine, which will modulate the damping level according to the actual state of the gait cycle. Preliminary tests on an amputee subject provided a satisfactory performance of the system while operating in the passive mode, i.e., simulating situations when the battery runs out, and also enabled correct identification of gait events.
        </p>
      </div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>