<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "css/main.css", "css/welcome.css" %>
  <title>Welcome! | Levy</title>
</head>

<body>
  <div class='header'><%= render "layouts/header" %></div>
  <div class='wrapper'>
    <header class="post-header">
      <h1 class="post-title">welcome!</h1>
    </header>
    <div class="post-content">
      <p><img class="welcome" src="/images/osaka-aquarium.jpg"></p>

      <p>
      ようこそ！
      <br>Hello and welcome to my page! :-)
      <br>
      I’ll take this space to talk a little more <b><a href="/who-are-you">about me</a></b> and the <b><a href="/what-have-you-done">projects</a></b> I have been working on.　Enjoy!
      <br>
      In the meantime, how about watching a cockroach being controlled remotely?
      It is a thing.
      </p>

      <!-- YouTube responsive video code taken from: http://avexdesigns.com/responsive-youtube-embed/ -->
      <div class="video-container">
        <iframe src="http://www.youtube.com/embed/g0M2KTbc_a8" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
  </div>
</body>
<footer><%= render "layouts/footer" %></footer>

</html>