#circle-shape-text .curve
{ 
    height: 30%;
    width: 30%;
    min-width: 150px;
    float: left;
    margin-top: 5px;
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

/* Timeline CSS */
/* Line and dots */
.timeline ul li
{
  list-style-type: none;
  position: relative;
  width: .5vw;
  margin: 0 auto;
  padding-top: 10vw;
  background: #AD3737;
}
 
.timeline ul li::after
{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #FFC6C6;
}

/* Content */
.timeline ul li div
{
  position: relative;
  bottom: 0;
  width: 20vw;
  padding: 1vw;
  background: #D76868;
}
 
.timeline ul li div::before
{
  content: '';
  position: absolute;
  bottom: .2vw;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Styling odd items */
.timeline ul li:nth-child(odd) div
{
  left: 4vw;
}
 
.timeline ul li:nth-child(odd) div::before
{
  left: -1vw;
  border-width: 1vw 2vw 1vw 0;
  border-color: transparent #D76868 transparent transparent;
}

/* Styling even items */
.timeline ul li:nth-child(even) div
{
  left: -25vw;
}
 
.timeline ul li:nth-child(even) div::before
{
  right: -1vw;
  border-width: 1vw 0 1vw 2vw;
  border-color: transparent transparent transparent #D76868;
}
/* Hiding and showing */
timeline ul li::after
{
  background: #fff;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after
{
  background: #F45B69;
}
 
.timeline ul li div
{
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div
{
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div
{
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view div
{
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Responsivity */
@media screen and (max-width: 900px)
{
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px)
{
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}