/* Buttons */
.nice-buttons
{
  background-color: #851616;
  color: white;
  padding: 1vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: auto;
  border-radius: 10vw;
}
.nice-buttons:hover, .nice-buttons:focus
{
  background-color: #AE3939;
}
.nice-buttons:disabled
{
  background-color: #FFC6C6;
  cursor: default;
}

/* Level Buttons */
#jlpt_buttons
{
 display: table;
 width: 100%;
 padding-top: 1vw;
}
#jlpt_buttons li
{
  display: table-cell;
  text-align: center;
}

/* Quiz structure */
#question_num
{
	font-size: 2vw;
	text-align: center;
}
#question_div
{
	font-size: 2vw;
	color: #AD3737;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-radius: 5vw;
	border-color: #AD3737;
	margin-top: 1vw;
	margin-bottom: 1vw;
}
#text_answer
{
	font-size: 2vw;
	width: 100%;
}
#quiz_div
{
	padding: 1vw;
	border-radius: 1vw;
	border-color: #AD3737;
	border-style: solid;
}
#submit_div
{
  text-align: center;
}
#submit_answer
{
	align-items: center;
	background-color: #851616;
  color: white;
  padding: 1.5vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: auto;
  border-radius: 10vw;
  margin-top: 1vw;
}
#submit_answer:hover, #submit_answer:focus
{
  background-color: #AE3939;
}

/* Direction buttons */
#direction_buttons
{
 display: table;
 width: 100%;
 padding-top: 1vw;
}
#direction_buttons li
{
  display: table-cell;
  text-align: center;
  width: 50%;
}
.direction-buttons
{
  background-color: #851616;
  color: white;
  padding: 1vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: auto;
  border-radius: 1vw;
  width: 100%;
}
.direction-buttons:hover, .direction-buttons:focus
{
  background-color: #AE3939;
}
.direction-buttons:disabled
{
  background-color: #FFC6C6;
  cursor: default;
}

/* Score */
#score_div
{
  text-align: center;
  padding-top: 1vw;
  font-size: 2vw;
}
table
{
  border-style: hidden;
  border-collapse: collapse;
  width: 100%;
}
th, td
{
  width: 50%;
  padding: .1vw;
  text-align: center;
  border: 1px groove #D76868;
}
tr:hover
{
  background-color: #F5F5F5
}