:root
{
  --stronger-color: #AD3737;
  --strong-color: #D76868;
  --weak-color: #FFA3A3;
  --weaker-color: #FFC6C6;
  --background-color: #FFE5E5;
}

/* Buttons */
.nice-buttons
{
  background-color: var(--strong-color);
  color: white;
  padding: 1vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: auto;
  border-radius: 10vw;
}
.nice-buttons:hover, .nice-buttons:focus
{
  background-color: var(--weak-color);
}
.nice-buttons:disabled
{
  background-color: var(--weaker-color);
  cursor: default;
}

/* Level Buttons */
#jlpt_buttons
{
 display: table;
 width: 100%;
 padding-top: 1vw;
}
#jlpt_buttons li
{
  display: table-cell;
  text-align: center;
}

/* Quiz structure */
#question_num
{
  color: var(--stronger-color);
  font-size: 2vw;
  text-align: center;
}
#question_div
{
  font-size: 2vw;
  color: var(--strong-color);
  text-align: center;
  background-color: white;
  border-style: solid;
  border-radius: 5vw;
  border-color: var(--strong-color);
  margin-top: 1vw;
  margin-bottom: 1vw;
}
#text_answer {
  /* Make sure the text area has a correct width */
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0.5vw 1.5vw 0 1.5vw;
  border-color: var(--strong-color);
  border-radius: 5vw;
  border-width: 3px;

  text-align: center;
  vertical-align: bottom;
  resize: none;
}
#quiz_div
{
  padding: 1vw;
  border-radius: 1vw;
  border-color: var(--strong-color);
  border-style: solid;
}
#submit_div
{
  text-align: center;
}
#submit_answer
{
  align-items: center;
  background-color: var(--strong-color);
  color: white;
  padding: 1.5vw;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: auto;
  border-radius: 10vw;
  margin-top: 1vw;
}
#submit_answer:hover, #submit_answer:focus
{
  background-color: var(--stronger-color);
}

/* Direction buttons */
.direction-buttons {
  background-color: inherit;
  width: inherit;
  text-align: center;
  margin: 20px 0 10px 0;
}

.direction-buttons:hover {
  background-color: inherit;
  cursor: inherit;
}

.direction-buttons button {
  display: inline-block;
  background-color: var(--strong-color);
  color: white;
  padding: 1vw;
  font-size: 16px;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  text-transform: uppercase;
  width: 30%;
}

.direction-buttons button:hover {
  background-color: var(--weak-color);
}

.direction-buttons button:disabled {
  background-color: var(--weaker-color);
  cursor: default;
}

/* Score */
#score_div
{
  text-align: center;
  padding-top: 1vw;
  font-size: 2vw;
  color: #7DA234;
}
table
{
  border-style: hidden;
  border-collapse: collapse;
  width: 100%;
}
th, td
{
  width: 50%;
  padding: .1vw;
  text-align: center;
  border: 1px groove #D76868;
}
tr:hover
{
  background-color: #F5F5F5
}

/* Credits */
#credits_div
{
  font-style: italic;
  text-align: center;
}