<footer class="site-footer">

  <style>
  p.footer
  {
    line-height: 1.5;
  }
  </style>

  <div class="wrapper">

    <h2 class="footer-heading">levy's sandbox</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          Lucas de Levy Oliveira
          <li>
            <a href = "delevyoliveira 「at」 neuron.eei.eng.osaka-u.ac.jp"
                rel = "nofollow"
                onclick = "this.href='mailto:' + 'delevyoliveira' + '@' + 'gmail.com'">
            delevyoliveira 「at」 neuron.eei.eng.osaka-u.ac.jp
            </a> 
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href=''><img class='footer-icon' src='/assets/github_icon.png'></img> /lucasdelevy</a>
          </li>
          <li>
            <a href=''><img class='footer-icon' src='/assets/facebook_icon.png'></img> /lucasdelevy</a>
          </li>

          <li>
            <a href=''><img class='footer-icon' src='/assets/linkedin_icon.png'></img> /lucasdelevy</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="footer">Welcome to my page! It is surely not yet complete, but I'll be adding information soon enough. :-)</p>
      </div>
    </div>

  </div>

</footer>